[Unit]
Description=Run Juicy Disk Space Guard every minute
PartOf=juicy-mount.service

[Timer]
# 開機後 1 分鐘啟動，之後每 1 分鐘執行一次
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=1s

[Install]
WantedBy=timers.target